.title-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.loading mat-spinner {
  margin-right: auto;
  margin-left: auto;
}

.db-list {
  width: 100%;
  
  tr th:last-child,
  tr td:last-child {
    width: 5em;
    text-align: right;
  }
  
  tr.db-list-data-row:hover  { background: #f5f5f5; }
  tr.db-list-data-row:active { background: #efefef; }
}
