.title-bar {
  display: grid;
  grid-template-columns: 1fr auto;
}

.success-message {
  margin: 0 0 1rem;
  color: #008b00;
  opacity: 1;
  transition: opacity .3s;
}

.is-hide {
  opacity: 0;
}

.loading mat-spinner {
  margin-right: auto;
  margin-left: auto;
}

.db-list {
  width: 100%;
  
  tr th.column-icon,
  tr td.column-icon {
    width: 5em;
    text-align: center;
  }
  
  tr.db-list-data-row:hover  { background: #f5f5f5; }
  tr.db-list-data-row:active { background: #efefef; }
}
