<div [formGroup]="columnForm" class="columns-table-wrapper mat-elevation-z6">
  <table mat-table [dataSource]="dataSource" formArrayName="columns" class="columns-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-text">
        <input matInput type="text" placeholder="Column Name" formControlName="name" required>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef>Display Name</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-text">
        <input matInput type="text" placeholder="Column Display Name" formControlName="displayName" required>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-select">
        <mat-select formControlName="type">
          <mat-option value="id" disabled>ID</mat-option>
          <mat-option value="text">Text</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="required">
      <th mat-header-cell *matHeaderCellDef class="column-table-cell-icon">Required</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-icon">
        <mat-checkbox formControlName="required"></mat-checkbox>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="row-up">
      <th mat-header-cell *matHeaderCellDef class="column-table-cell-icon">Up</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-icon">
        <button type="button" mat-icon-button [disabled]="rowIndex === 0" (click)="onUp(rowIndex)"><mat-icon>arrow_upward</mat-icon></button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="row-down">
      <th mat-header-cell *matHeaderCellDef class="column-table-cell-icon">Down</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-icon">
        <button type="button" mat-icon-button [disabled]="rowIndex === dataSource.data.length - 1" (click)="onDown(rowIndex)"><mat-icon>arrow_downward</mat-icon></button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="row-add">
      <th mat-header-cell *matHeaderCellDef class="column-table-cell-icon">Add</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-icon">
        <button type="button" mat-icon-button (click)="onAdd(rowIndex)"><mat-icon>add_circle_outline</mat-icon></button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="row-remove">
      <th mat-header-cell *matHeaderCellDef class="column-table-cell-icon">Remove</th>
      <td mat-cell *matCellDef="let row let rowIndex = index" [formGroupName]="rowIndex" class="column-table-cell-icon">
        <button type="button" mat-icon-button [disabled]="row.type === 'id'" (click)="onRemove(rowIndex)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="columns-table-data-row"></tr>
  </table>
</div>
