.title-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.success-message {
  margin: 0 0 1em;
  color: #008b00;
  opacity: 1;
  transition: opacity .3s;
}

.is-hide {
  opacity: 0;
}

.loading mat-spinner {
  margin-right: auto;
  margin-left: auto;
}

.db-info {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 2em;
}

.db-table {
  width: 100%;
  
  tr.data-row:hover  { background: #f5f5f5; }
  tr.data-row:active { background: #efefef; }
  
  .mat-input-element {
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
  }
  
  .column-id {
    width: 50px;
    padding-right: 10px;
    text-align: center;
    
    input {
      text-align: right;
    }
  }
  
  .column-text,
  .column-date {
    min-width: 100px;
    padding-right: 10px;
    
    .ng-invalid              { color: #f44336; }
    .ng-invalid::placeholder { color: #c41306; }
  }
  
  .column-icon {
    width: 55px;
    text-align: center;
  }
}

.footer-buttons {
  text-align: right;
}
