.title-bar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 1rem;
  
  .db-display-name {
    margin: 0 0 1rem;
    padding: 0;
    border: none;
    outline: none;
    min-width: 1px;
    font-size: 1.7rem;
    font-family: inherit !important;
    font-weight: bold;
    background: transparent;
    
    &:hover, &:focus { background: linear-gradient(to top, rgba(0, 0, 0, .42) 1px, transparent 1px); }
    &.ng-invalid              { color: #f44336; }
    &.ng-invalid::placeholder { color: #c41306; }
  }
}

.success-message {
  margin: 0 0 1rem;
  color: #008b00;
  opacity: 1;
  transition: opacity .3s;
}

.is-hide {
  opacity: 0;
}

.loading mat-spinner {
  margin-right: auto;
  margin-left : auto;
}

.db-table-wrapper {
  margin-bottom: 1rem;
  max-height: 70vh;
  overflow: auto;
}

.db-table {
  width: 100%;
  
  tr.data-row:hover  { background: #f5f5f5; }
  tr.data-row:active { background: #efefef; }
  
  // データ行の高さ
  tr.mat-row { height: auto; }
  
  th {
    border-right: 1px solid rgba(0, 0, 0, .12);
    padding-right: 10px;
    padding-left : 10px;
    text-align: center;
    
    &:last-child { border-right: 0; }
  }
  
  td {
    border-right: 1px solid rgba(0, 0, 0, .12);
    padding: 0 10px;
    
    &:last-child { border-right: 0; }
  }
  
  .mat-input-element {
    font: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
    box-sizing: content-box;
  }
  
  .column-id {
    width: 40px;
    min-width: 40px;
    padding-left: 5px;
    
    input {
      text-align: right;
    }
  }
  
  .column-text,
  .column-date {
    .ng-invalid              { color: #f44336; }
    .ng-invalid::placeholder { color: #c41306; }
  }
  
  .column-text {
    min-width: 150px;
  }
  
  .column-date {
    width: 120px;
    min-width: 120px;
    padding-right: 5px;
  }
  
  .column-icon {
    width: 55px;
    min-width: 55px;
    padding-right: 5px;
    padding-left : 5px;
    text-align: center;
  }
}
