<div class="title-bar">
  <h1>
    <ng-container *ngIf="dbName && !dbDisplayName">({{ dbName }})</ng-container>
    <ng-container *ngIf="dbDisplayName">{{ dbDisplayName }}</ng-container>
    <ng-container *ngIf="!dbName && !dbDisplayName">DB</ng-container>  <!-- TODO -->
  </h1>
  <span><button type="button" mat-raised-button color="primary" [routerLink]="['/column-edit']">Edit Column</button></span>  <!-- TODO -->
</div>

<div class="success-message" [ngClass]="{ 'is-hide': isHideSuccessMessage }">{{ successMessage || '&nbsp;' }}</div>

<div class="loading" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<p *ngIf="!isLoading && errorMessage"><mat-error>Error : {{ errorMessage }}</mat-error></p>

<p *ngIf="!isLoading && !errorMessage">No Data.</p>  <!-- TODO : && !dbList.length -->

<div *ngIf="!isLoading && test">{{ test | json }}</div>
